body {
	background-image: url("Golf-Field-Flag-Green-Grass-Tree-Outdoor-Graphics-7912612-1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 380px;
}

form {
	max-width: 35%;
	margin: auto;
	text-align: center;
	margin-top: 21%;
	position: relative;
	background-color: #ffffff78;
	padding: 50px 0;
	border-radius: 31px;
	padding-bottom: 32px;
}

label {
	position: absolute;
	top: -45%;
	right: 41%;
	font-size: 27px;
	color: white;
}

input {
	width: 72%;
}

.btn{
  margin-bottom: 5px;
}
