<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
  <div class="weather">
    <h1>City: <%= q %> </h1>
    <h1>The Weather is <%= des %> </h1>
    <h1>The temperature is <%= temperature %> degree Celcius</h1>
    <img src=<%= source %> alt="">
  </div>

  </body>
</html>
